#country_redirector.top_floating{
      position: absolute;
      top: 0px;
      z-index: 100000;   
}

#country_redirector{

      width: 100%;
      background-color: #313131;
      color: white;
      padding: 25px 100px;
      font-size: 15px;
     display: flex;
     flex-direction: row ;
     justify-content: center;
     align-items: center;
}


#country_redirector.hide{
  display: none;
}
#country_redirector span{

margin-right: 15px;

}

#country_redirector .country_select{
width: 200px;
margin-right: 15px;
height: 35px;
background-color: #575757;
color: white;
}

#country_redirector button{
    margin-right: 15px;
    padding: 0 16px;
    font-family: "Open Sans", Helvetica, Arial, "Liberation Sans", sans-serif;
    font-weight: 600;
    display: block;
    line-height: 34px;
    font-size: 13px;
    color: #eee;
        border: none !important;
        text-decoration: none;
        background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;

    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#country_redirector a{
color: #6F6F6F;
}
#country_redirector .country_select{
  border-color: #0073aa #006799 #006799;
  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #6F6F6F;
}
#country_redirector .country_select span{
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position:15px 0px;
  height: 100%;
  line-height: 35px;
}
#country_redirector .country_select a{
  float: right;
}
#country_redirector .country_select a:after{
    background-repeat: no-repeat;
    background-size: 15px 15px;
    display: inline-block;
    width: 20px;
    height: 28px;
    content:"";
    background-color: #6F6F6F;
    -webkit-mask:  url('../images/down.svg') no-repeat -0px 9px;
    mask: url('../images/down.svg') no-repeat -0px 9px;
}
#country_redirector .drop-down {
 position: relative;
 display: inline-block;
 width: auto;
 margin-top: 0;
 font-family: verdana;
 }

 #country_redirector .drop-down select {
 display: none;
 }

 #country_redirector .drop-down .select-list {
 position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
 margin-top: 40px;
 padding: 0;
 background-color: #595959;
 list-style-type: none;
 }

 #country_redirector .drop-down .select-list li {
 display: none;
 cursor: pointer;
 }

 #country_redirector .drop-down .select-list li span {
 display: inline-block;
 min-height: 40px;
 min-width: 280px;
 width: 100%;
 padding: 5px 15px 5px 35px;
 background-color: #595959;
 background-position: left 8px center;
 background-repeat: no-repeat;
 background-size: 16px 16px;
 font-size: 16px;
 text-align: left;
 color: #FFF;
 opacity: 0.7;
 box-sizing: border-box;
 }

 #country_redirector .drop-down .select-list li span:hover,
 #country_redirector .drop-down .select-list li span:focus {
 opacity: 1;
 }
